# Environment & secrets
.env
*.env
**/.env
.env.*
# Node / JS
node_modules/
package-lock.json
yarn.lock
dist/
build/
# Prisma
prisma/dev.db
# Flutter / Mobile
.dart_tool/
.flutter-plugins
.packages
android/.gradle/
android/app/*.keystore
ios/Pods/
# OS / editors
.DS_Store
Thumbs.db
.vscode/
.idea/
# Logs / tests
*.log
coverage/
test-output/
# Other
*.sqlite
*.db
*.pem
*.p12
secret-*
# Ignore credentials accidentally added
**/serviceAccount*.json
